<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tiêm chủng Covid-19</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/css/style.css">
    <style>
        .list-group-item-action:hover {
            background-color: black;
            color: white;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-dark" style="background: linear-gradient(to right, #be93c5, #7bc6cc);">
        <a class="navbar-brand" style="font-weight: bold;" href="index.html">
            TIÊM CHỦNG COVID-19</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">Trang chủ<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="register.html">Đăng ký tiêm</a>
                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tra cứu</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="injection-registration.html">Kết quả đăng ký</a>
                        <a class="dropdown-item" href="injection-certificate.html">Chứng nhận tiêm</a>
                    </div>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="cancel-registration.html">Hủy đăng ký</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="manager.html">Quản lý</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container pb-3">
        <h2 class="container p-3 my-3">Quản lý</h2>
        <div class="container">
            <div class="list-group">
                <a href="#" class="list-group-item active">
                  Quản lý
                </a>
                <a href="/statistical" class="list-group-item list-group-item-action">Thống kê</a>
                <a href="/inject_input" class="list-group-item list-group-item-action">Nhập vắc-xin</a>
                <a href="/inject_date" class="list-group-item list-group-item-action">Nhập ngày tiêm</a>
                <a href="/add_manager" class="list-group-item list-group-item-action">Thêm người quản lý</a>
              </div>
        </div>
    </div>

    <div class="footer-basic">
        <footer>
            <p>© 2021 Nhóm 1: Nguyễn Thế Khải - Nguyễn Việt Hòa</p>
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
        
    <script src="./assets/js/index.js"></script>
</body>



</html>